@media (max-width: 1450px) {
  body {
    max-width: 95%;
  }
}

@media (max-width: 1100px) {
  main {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 50px;
    gap: 30px;
  }

  .card-3 {
    grid-column: span 2;
    max-width: 50%;
    margin: auto;
  }
}

@media (max-width: 800px) {
  header {
    padding-top: 40px;
  }

  main {
    padding-top: 60px;
    gap: 20px;
  }

  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1em;
  }

  p,
  a {
    font-size: 0.8em;
  }
}

@media (max-width: 600px) {
  body {
    max-width: 90%;
  }

  header {
    padding-top: 20px;
  }

  main {
    grid-template-columns: 1fr;
    padding-bottom: 50px;
    padding-top: 30px;
  }

  h1 {
    font-size: 1.1em;
  }

  .card-3 {
    grid-column: 1;
    max-width: none;
  }

  .description {
    height: 180px;
  }
}
